@model List<News_Portal.Models.RSSFeed.RSSFeed>
@{
    ViewBag.Title = "Satpuda Sandesh";
    int j = 4, i = 0, k = 9, s = 14;
}

@using (Html.BeginForm())
{
    @*<input type="URL" id="RSSURL" name="RSSURL" placeholder="Enter RSS Feed URL Here..." class="form-control" value="@ViewBag.URL" style="min-width:100%" />

        <input type="submit" id="btnSearch" class="btn btn-danger" />*@

}
<div class="container">
    <div class="row">
        <!-- hot news start -->
        <div class="col-sm-16 hot-news">
            <div class="row">
                <div class="col-sm-15">
                    <span class="ion-ios7-timer icon-news pull-left"></span>
                    <ul id="js-news" class="js-hidden">
                        @if (Model != null && Model.Count > 0)
                        {
                            for (i = 21; i < Model.Count; i++)
                            {
                                <li class="news-item" style="">
                                    <marquee width="100%" behavior="scroll" direction="left" scrollamount="8" height="100px" style="font-size:medium;background-color:#FFFF00" href="~/RSSMaster/RSSChildData?RSSFeedID=@Model[i].RSSFeedID&RSSID=@Model[i].RSSID">@Model[i].Title</marquee>
                                    @*<a style="font-size:large;background-color:yellow" href="~/RSSMaster/RSSChildData?RSSFeedID=@Model[i].RSSFeedID&RSSID=@Model[i].RSSID">@Model[i].Title</a>*@
                                </li>

                            }
                        }
                    </ul>
                </div>
                <div class="col-sm-1 shuffle text-right"><a href="#"><span class="ion-shuffle"></span></a></div>
            </div>
        </div>
        <!-- hot news end -->
        <!-- banner outer start -->
        @*<div id="breakingNewsHomeData"></div>*@
        <div class="col-sm-16 banner-outer wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="50">
            <div class="row">
                <div class="col-sm-16 col-md-10 col-lg-8">
                    <!-- carousel start -->
                    <div id="sync1" class="owl-carousel">
                        <div class="box item">
                            <a href="#">
                                <div class="carousel-caption">
                                    Republican budget leader Paul Ryan
                                    faces key test in fiscal talks
                                </div>
                                <img class="img-responsive" src="~/Content/images/banner-slider/slide-img-1.jpg" width="1600" height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data"><span class="ion-model-s"></span>lifestyle</p>
                                    </div>
                                    <div class="info">
                                        <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="#">
                                <div class="carousel-caption">
                                    Republican budget leader Paul Ryan
                                    faces key test in fiscal talks
                                </div>
                                <img class="img-responsive" src="~/Content/images/banner-slider/slide-img-2.jpg" width="1600" height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data"><span class="ion-flask"></span>business</p>
                                    </div>
                                    <div class="info">
                                        <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="#">
                                <div class="carousel-caption">
                                    Republican budget leader Paul Ryan
                                    faces key test in fiscal talks
                                </div>
                                <img class="img-responsive" src="~/Content/images/banner-slider/slide-img-3.jpg" width="1600" height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data"><span class="ion-model-s"></span>travel</p>
                                    </div>
                                    <div class="info">
                                        <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="#">
                                <div class="carousel-caption">
                                    Republican budget leader Paul Ryan
                                    faces key test in fiscal talks
                                </div>
                                <img class="img-responsive" src="~/Content/images/banner-slider/slide-img-4.jpg" width="1600" height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data"><span class="ion-model-s"></span>soprt</p>
                                    </div>
                                    <div class="info">
                                        <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="#">
                                <div class="carousel-caption">
                                    Republican budget leader Paul Ryan
                                    faces key test in fiscal talks
                                </div>
                                <img class="img-responsive" src="~/Content/images/banner-slider/slide-img-5.jpg" width="1600" height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data"><span class="ion-model-s"></span>Lifestyle</p>
                                    </div>
                                    <div class="info">
                                        <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="#">
                                <div class="carousel-caption">
                                    Republican budget leader Paul Ryan
                                    faces key test in fiscal talks
                                </div>
                                <img class="img-responsive" src="~/Content/images/banner-slider/slide-img-6.jpg" width="1600" height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data"><span class="ion-model-s"></span>sport</p>
                                    </div>
                                    <div class="info">
                                        <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="#">
                                <div class="carousel-caption">
                                    Republican budget leader Paul Ryan
                                    faces key test in fiscal talks
                                </div>
                                <img class="img-responsive" src="~/Content/images/banner-slider/slide-img-7.jpg" width="1600" height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data"><span class="ion-model-s"></span>Lifestyle</p>
                                    </div>
                                    <div class="info">
                                        <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box item">
                            <a href="#">
                                <div class="carousel-caption">
                                    Republican budget leader Paul Ryan
                                    faces key test in fiscal talks
                                </div>
                                <img class="img-responsive" src="~/Content/images/banner-slider/slide-img-8.jpg" width="1600" height="972" alt="" />
                                <div class="overlay"></div>
                                <div class="overlay-info">
                                    <div class="cat">
                                        <p class="cat-data"><span class="ion-model-s"></span>business</p>
                                    </div>
                                    <div class="info">
                                        <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div id="sync2" class="owl-carousel">
                            <div class="item"><img class=" img-responsive" src="~/Content/images/banner-slider/slide-img-1.jpg" width="1600" height="972" alt="" /></div>
                            <div class="item"><img class="img-responsive" src="~/Content/images/banner-slider/slide-img-2.jpg" width="1600" height="972" alt="" /></div>
                            <div class="item"><img class="img-responsive" src="~/Content/images/banner-slider/slide-img-3.jpg" width="1600" height="972" alt="" /></div>
                            <div class="item"><img class="img-responsive " src="~/Content/images/banner-slider/slide-img-4.jpg" width="1600" height="972" alt="" /></div>
                            <div class="item"><img class="img-responsive " src="~/Content/images/banner-slider/slide-img-5.jpg" width="1600" height="972" alt="" /></div>
                            <div class="item"><img class="img-responsive " src="~/Content/images/banner-slider/slide-img-6.jpg" width="1600" height="972" alt="" /></div>
                            <div class="item"><img class="img-responsive" src="~/Content/images/banner-slider/slide-img-7.jpg" width="1600" height="972" alt="" /></div>
                            <div class="item"><img class="img-responsive " src="~/Content/images/banner-slider/slide-img-8.jpg" width="1600" height="972" alt="" /></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-8 hidden-sm hidden-xs">
                    <div class="row">
                        <div class="col-lg-6 hidden-md">
                            <a href="#">
                                <div class="box">
                                    <div class=" carousel-caption">
                                        Extreme biking:
                                        dangerous, dirty
                                        and Fun
                                    </div>
                                    <img class="match-height" src="~/Content/images/banner-static/bs-1.jpg" width="236" height="480" alt="" />
                                    <div class="overlay"></div>
                                    <div class="overlay-info">
                                        <div class="cat">
                                            <p class="cat-data"><span class="ion-model-s"></span>Lifestyle</p>
                                        </div>
                                        <div class="info">
                                            <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-16 col-lg-10">
                            <div class="row">
                                <div class="col-sm-16 right-img-top ">
                                    <a href="#">
                                        <div class="box">
                                            <div class="carousel-caption">
                                                Best snack ever: mini mac and
                                                cheese cupcakes
                                            </div>
                                            <img class="img-responsive" src="~/Content/images/banner-static/bs-2.jpg" width="440" height="292" alt="" />
                                            <div class="overlay"></div>
                                            <div class="overlay-info">
                                                <div class="cat">
                                                    <p class="cat-data"><span class="ion-model-s"></span>Lifestyle</p>
                                                </div>
                                                <div class="info">
                                                    <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-16 right-img-btm ">
                                    <a href="#">
                                        <div class="box">
                                            <div class="carousel-caption">
                                                Rolls Royce chicane phantom
                                                coupé will terrify continental
                                            </div>
                                            <img class="img-responsive" src="~/Content/images/banner-static/bs-3.jpg" width="440" height="292" alt="" />
                                            <div class="overlay"></div>
                                            <div class="overlay-info">
                                                <div class="cat">
                                                    <p class="cat-data"><span class="ion-model-s"></span>Lifestyle</p>
                                                </div>
                                                <div class="info">
                                                    <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- banner outer end -->

    </div>
</div>
<!-- top sec end -->
<!-- data start -->

<div class="container ">
    <div class="row ">
        <!-- left sec start -->
        <div class="col-md-11 col-sm-11">
            <div class="row">
                <!-- business start -->
                <div class="col-sm-16 business  wow fadeInDown animated" data-wow-delay="1s" data-wow-offset="50">
                    <div class="main-title-outer pull-left">
                        <div class="main-title">देश</div>
                        <div class="span-outer"><span class="pull-right text-danger last-update"><span class="ion-android-data icon"></span>Last update: 2 days ago</span> </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11 col-sm-16" id="nationalHomeRecord">
                        </div>
                        <div class="col-md-5 col-sm-16 hidden-sm hidden-xs  left-bordered">
                            <div id="vid-thumbs" class="owl-carousel">
                                <div class="item">
                                    <div class="vid-thumb-outer">
                                        <div class="vid-thumb">
                                            <a class="popup-youtube" href="https://www.youtube.com/watch?v=TEnNaUg6Vm4">
                                                <div class="vid-box"><span class="ion-ios7-film"></span><img class="img-thumbnail img-responsive" src="~/Content/images/business/business-vid-1.jpg" width="250" height="143" alt="" /> </div>
                                                <h4>Perspiciatis unde omnis iste natus</h4>
                                            </a>
                                        </div>
                                        <div class="vid-thumb">
                                            <a class="popup-youtube" href="http://vimeo.com/7396421">
                                                <div class="vid-box"><span class="ion-ios7-film"></span><img class="img-thumbnail img-responsive" src="~/Content/images/business/business-vid-2.jpg" width="250" height="143" alt="" /> </div>
                                                <h4>Cras tincidunt enim non metus ultricies.</h4>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="vid-thumb-outer">
                                        <div class="vid-thumb">
                                            <a href="">
                                                <div class="vid-box"><span class="ion-ios7-film"></span><img class="img-thumbnail img-responsive" src="~/Content/images/business/business-vid-1.jpg" width="250" height="143" alt="" /> </div>
                                                <h4>Perspiciatis unde omnis iste natus</h4>
                                            </a>
                                        </div>
                                        <div class="vid-thumb">
                                            <a href="">
                                                <div class="vid-box"><span class="ion-ios7-film"></span><img class="img-thumbnail img-responsive" src="~/Content/images/business/business-vid-2.jpg" width="250" height="143" alt="" /> </div>
                                                <h4>Cras tincidunt enim non metus ultricies.</h4>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="vid-thumb-outer">
                                        <div class="vid-thumb">
                                            <a href="">
                                                <div class="vid-box"><span class="ion-ios7-film"></span><img class="img-thumbnail img-responsive" src="~/Content/images/business/business-vid-1.jpg" width="250" height="143" alt="" /> </div>
                                                <h4>Perspiciatis unde omnis iste natus</h4>
                                            </a>
                                        </div>
                                        <div class="vid-thumb">
                                            <a href="">
                                                <div class="vid-box"><span class="ion-ios7-film"></span><img class="img-thumbnail img-responsive" src="~/Content/images/business/business-vid-2.jpg" width="250" height="143" alt="" /> </div>
                                                <h4>Cras tincidunt enim non metus ultricies.</h4>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <!-- business end -->
                <!-- Science & Travel start -->
                <div class="col-sm-16">
                    <div class="row">
                        <div class="col-xs-16 col-sm-8  wow fadeInLeft animated science" data-wow-delay="0.5s" data-wow-offset="130">
                            <div class="main-title-outer pull-left">
                                <div class="main-title">स्पोर्ट्स</div>
                                <div class="span-outer"><span class="pull-right text-danger last-update"><span class="ion-android-data icon"></span>Last update: 2 days ago</span> </div>
                            </div>
                            <div class="row" id="sportsHomeData">
                            </div>
                        </div>
                        <div class="col-sm-8 col-xs-16 wow fadeInRight animated" data-wow-delay="0.5s" data-wow-offset="130">
                            <div class="main-title-outer pull-left">
                                <div class="main-title">बॉलीवुड</div>
                                <div class="span-outer"><span class="pull-right text-danger last-update"><span class="ion-android-data icon"></span>Last update: 2 days ago</span> </div>
                            </div>
                            <div class="row left-bordered" id="bollywoodHomeData">
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <!-- Scince & Travel end -->
                <!-- lifestyle start-->
                <div class="col-sm-16 wow fadeInUp animated " data-wow-delay="0.5s" data-wow-offset="100">
                    <div class="main-title-outer pull-left">
                        <div class="main-title">विदेश</div>
                        <div class="span-outer"><span class="pull-right text-danger last-update"><span class="ion-android-data icon"></span>Last update: 3 days ago</span> </div>
                    </div>
                    <div class="row">
                        <div id="owl-lifestyle" class="owl-carousel owl-theme lifestyle pull-left">
                            @if (Model != null && Model.Count > 0)
                            {
                                for (i = 15; i < Model.Count; i++)
                                {
                                    <div class="item topic">
                                        <a href="~/RSSMaster/RSSChildData?RSSFeedID=@Model[i].RSSFeedID&RSSID=@Model[i].RSSID">
                                            @if (Model[i].Image != null)
                                            {
                                                <img class="img-thumbnail" src="@Model[i].Image" width="300" height="132" alt="" />
                                            }
                                            else
                                            {
                                                <img class="img-thumbnail" src="~/Content/images/Error/No_Image_Available_2.png" width="300" height="132" alt="" />
                                            }

                                            <h4>@Model[i].Title</h4>
                                            <div class="text-danger sub-info-bordered remove-borders">
                                                <div class="time"><span class="ion-android-data icon"></span>@Model[i].PublishDate.ToString("dd/MM/yyyy")</div>
                                            </div>
                                        </a>
                                    </div>
                                    if (i == 20)
                                    {
                                        break;
                                    }
                                }

                            }
                        </div>
                    </div>
                </div>
                <!-- lifestyle end -->
                <!--Recent videos start-->
                <!--Recent videos end-->
                <!--wide ad start-->
                <div class="col-sm-16 wow fadeInDown animated " data-wow-delay="0.5s" data-wow-offset="25"><img class="img-responsive" src="~/Content/images/ads/728-90-ad.gif" width="728" height="90" alt="" /></div>
                <!--wide ad end-->

            </div>
        </div>
        <!-- left sec end -->
        <!-- right sec start  hidden-xs -->
        <div class="col-sm-5 right-sec">
            <div class="bordered top-margin">
                <div class="row ">
                    <div class="col-sm-16 bt-space wow fadeInUp animated" data-wow-delay="1s" data-wow-offset="50"> <img class="img-responsive" src="~/Content/images/ads/336-280-ad.gif" width="336" height="280" alt="" /> <a href="#" class="sponsored">sponsored advert</a> </div>
                    <div class="col-sm-16 bt-spac wow fadeInUp animated" data-wow-delay="1s" data-wow-offset="150">
                        @*<div class="table-responsive">
                                <table class="table table-bordered social">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a class="rss" href="#">
                                                    <p>
                                                        <span class="ion-social-rss"></span> subscribe<br>
                                                        to rss
                                                    </p>
                                                </a>
                                            </td>
                                            <td>
                                                <a class="twitter" href="#">
                                                    <p>
                                                        <span class="ion-social-twitter"></span> 811,6
                                                        followers
                                                    </p>
                                                </a>
                                            </td>
                                            <td>
                                                <a class="facebook" href="#">
                                                    <p>
                                                        <span class="ion-social-facebook"></span> 6958,56<br>
                                                        fans
                                                    </p>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="youtube" href="#">
                                                    <p>
                                                        <span class="ion-social-youtube"></span> 6954,55
                                                        subscribers
                                                    </p>
                                                </a>
                                            </td>
                                            <td>
                                                <a class="vimeo" href="#">
                                                    <p>
                                                        <span class="ion-social-vimeo"></span> 896,7
                                                        subscribers
                                                    </p>
                                                </a>
                                            </td>
                                            <td>
                                                <a class="dribbble" href="#">
                                                    <p>
                                                        <span class="ion-social-dribbble-outline"></span> 6321,56
                                                        followers
                                                    </p>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="googleplus" href="#">
                                                    <p>
                                                        <span class="ion-social-googleplus"></span> 9625.56
                                                        followers
                                                    </p>
                                                </a>
                                            </td>
                                            <td>
                                                <a class="pinterest" href="#">
                                                    <p>
                                                        <span class="ion-social-pinterest"></span> 741,9
                                                        followers
                                                    </p>
                                                </a>
                                            </td>
                                            <td>
                                                <a class="instagram" href="#">
                                                    <p>
                                                        <span class="ion-social-instagram"></span> 3548,7
                                                        followers
                                                    </p>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>*@
                    </div>
                    <!-- activities start -->
                    <div class="col-sm-16 bt-space wow fadeInUp animated" data-wow-delay="1s" data-wow-offset="130">
                        <!-- Nav tabs -->

                        <ul class="nav nav-tabs nav-justified " role="tablist">
                            <li class="active"><a href="#1008" role="tab" data-toggle="tab">बड़वानी</a></li>
                            <li><a href="#1010" role="tab" data-toggle="tab">इंदौर</a></li>
                            <li><a href="#1011" role="tab" data-toggle="tab">भोपाल</a></li>
                        </ul>

                        <!-- Tab panes   col-lg-13 col-md-12-->
                        <div class="tab-content">

                            <div class="tab-pane active" id="1008">
                                @for (i = 0; i < Model.Count; i++)
                                {

                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="~/RSSMaster/RSSChildData?RSSFeedID=@Model[i].RSSFeedID&RSSID=@Model[i].RSSID">
                                                <div class="row">
                                                    @if (Model[i].Image != null)
                                                    {
                                                        <div class="col-lg-3 col-md-4 hidden-sm"><img class="img-thumbnail pull-left" src="@Model[i].Image" width="78" height="78" alt="" /> </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-lg-3 col-md-4 hidden-sm"><img class="img-thumbnail pull-left" src="~/Content/images/Error/No_Image_Available_2.png" width="78" height="78" alt="" /> </div>
                                                    }
                                                    <div class="col-sm-11 col-md-12">
                                                        <h4>@Model[i].Title</h4>
                                                        <div class="text-danger sub-info">
                                                            <div class="time"><span class="ion-android-data icon"></span>@Model[i].PublishDate.ToString("dd/MM/yyyy")</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    if (i == j)
                                    {
                                        break;
                                    }
                                }
                            </div>
                            <div class="tab-pane" id="1011">
                                @for (i = 5; i < Model.Count; i++)
                                {
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="~/RSSMaster/RSSChildData?RSSFeedID=@Model[i].RSSFeedID&RSSID=@Model[i].RSSID">
                                                <div class="row">
                                                    @if (Model[i].Image != null)
                                                    {
                                                        <div class="col-lg-3 col-md-4 hidden-sm"><img class="img-thumbnail pull-left" src="@Model[i].Image" width="78" height="78" alt="" /> </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-lg-3 col-md-4 hidden-sm"><img class="img-thumbnail pull-left" src="~/Content/images/Error/No_Image_Available_2.png" width="78" height="78" alt="" /> </div>
                                                    }
                                                    <div class="col-sm-11 col-md-12">
                                                        <h4>@Model[i].Title</h4>
                                                        <div class="text-danger sub-info">
                                                            <div class="time"><span class="ion-android-data icon"></span>@Model[i].PublishDate.ToString("dd/MM/yyyy")</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    if (i == k)
                                    {
                                        break;
                                    }
                                }
                            </div>
                            <div class="tab-pane" id="1010">
                                @for (i = 10; i < Model.Count; i++)
                                {
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="~/RSSMaster/RSSChildData?RSSFeedID=@Model[i].RSSFeedID&RSSID=@Model[i].RSSID">
                                                <div class="row">
                                                    @if (Model[i].Image != null)
                                                    {
                                                        <div class="col-lg-3 col-md-4 hidden-sm"><img class="img-thumbnail pull-left" src="@Model[i].Image" width="78" height="78" alt="" /> </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-lg-3 col-md-4 hidden-sm"><img class="img-thumbnail pull-left" src="~/Content/images/Error/No_Image_Available_2.png" width="78" height="78" alt="" /> </div>
                                                    }
                                                    <div class="col-sm-11 col-md-12">
                                                        <h4>@Model[i].Title</h4>
                                                        <div class="text-danger sub-info">
                                                            <div class="time"><span class="ion-android-data icon"></span>@Model[i].PublishDate.ToString("dd/MM/yyyy")</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    if (i == s)
                                    {
                                        break;
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <!-- activities end -->
                    <!-- calendar start -->
                    <div class="col-sm-16 bt-space wow fadeInUp animated" data-wow-delay="1s" data-wow-offset="50">
                        <div class="single pull-left"></div>
                    </div>
                    <!-- calendar end -->
                    <div class="col-sm-16 bt-space wow fadeInUp animated" data-wow-delay="1s" data-wow-offset="50"> <img class="img-responsive" src="~/Content/images/ads/336-280-ad.gif" width="336" height="280" alt="" /> <a href="#" class="sponsored">sponsored advert</a> </div>
                    <div class="col-sm-16 bt-space wow fadeInUp animated" data-wow-delay="1s" data-wow-offset="50"> <img class="img-responsive" src="~/Content/images/ads/336-280-ad.gif" width="336" height="280" alt="" /> <a href="#" class="sponsored">sponsored advert</a> </div>
                </div>
            </div>
        </div>
        <!-- right sec end -->
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script>
    $(document).ready(function () {
        NationalHomeRecord();
        SportsHomeData();
        BollywoodHomeData();
        BreakingNewsData();
    });

    function NationalHomeRecord() {
        $.ajax({
            type: 'GET',
            contentType: "application/json",
            dataType: "html",
            url: "/GetHome/NationalDataRetrive/",
            data: { "Id": 1000 },
            success: function (data) {
                $("#nationalHomeRecord").html(data);
            }
        });
    }
    function SportsHomeData() {
        $.ajax({
            type: 'GET',
            contentType: "application/json",
            dataType: "html",
            url: "/GetHome/SportsDataRetrive/",
            data: { "Id": 1004 },
            success: function (data) {
                $("#sportsHomeData").html(data);
            }
        });
    }
    function BollywoodHomeData() {
        $.ajax({
            type: 'GET',
            contentType: "application/json",
            dataType: "html",
            url: "/GetHome/BollywoodDataRetrive/",
            data: { "Id": 1002 },
            success: function (data) {
                $("#bollywoodHomeData").html(data);
            }
        });
    }
    function BreakingNewsData() {
        $.ajax({
            type: 'GET',
            contentType: "application/json",
            dataType: "html",
            url: "/GetHome/BreakingNewsDataRetrive/",
            data: { "Id": 1018 },
            success: function (data) {
                $("#breakingNewsHomeData").html(data);
            }
        });
    }
</script>